{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Users</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Assigned projects</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Since</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              {% for profile in object_list %}
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div>
                      <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">{{ profile.user.username }}</h6>
                      <p class="text-xs text-secondary mb-0">{{ profile.user.email }}</p>
                    </div>
                  </div>
                </td>
                <td>
                  {% if profile.get_project_count == 0 %}
                  <p class="text-xs font-weight-bold mb-0">{{ profile.project_access }}</p>
                  {% else %}
                  <p class="text-xs font-weight-bold mb-0">Not assigned</p>
                  {% endif %}
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold"> {{ profile.user.date_joined }}</span>
                </td>
                <td class="align-middle">
                  <a href="{{profile.get_update_url}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Edit
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}