{% extends "base.html" %}
{% load static %}

{% block main %}
<script type="text/javascript"  src="{% static 'assets/js/echarts/echarts.min.js' %}"></script>
<div class="row">
  <div class="col-md-12 mt-4">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Project: 
          <span>
            {{ object.project.name }}
          </span>
          </h6>
        </div>
        <div class="card-body p-3">
          <ul class="list-group">
            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
              <div class="d-flex flex-column">
                <span class="mb-2 text-sm">version: <span class="text-dark font-weight-bold ms-sm-2">{{ object.version }}</span></span>
                <span class="mb-2 text-sm">created: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.date_executed }}</span></span>
                <span class="text-sm">execution time: <span class="text-dark ms-sm-2 font-weight-bold">{{ object.get_execution_seconds }}</span></span>
              </div>
            </li>
          </ul>
        <div>
      </div>
      <div id="pieChart" style="min-height: 400px; max-width: 600px; user-select: none; position: relative;" class="echart" _echarts_instance_="ec_1674896251797">
        <div style="position: relative; width: 1040px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;">
          <canvas style="position: absolute; left: 0px; top: 0px; width: 1040px; height: 400px; user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="1040" height="400"></canvas>
        </div>
        <div class="" style="position: absolute; display: block; border-style: solid; white-space: nowrap; z-index: 9999999; box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px; transition: opacity 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgb(255, 255, 255); border-width: 1px; border-radius: 4px; color: rgb(102, 102, 102); font: 14px / 21px Microsoft YaHei; padding: 10px; top: 0px; left: 0px; transform: translate3d(432px, 113px, 0px); border-color: rgb(115, 192, 222); pointer-events: none; visibility: hidden; opacity: 0;">
          <div style="margin: 0px 0 0;line-height:1;">
            <div style="font-size:14px;color:#666;font-weight:400;line-height:1;">Access From</div>
            <div style="margin: 10px 0 0;line-height:1;">
              <div style="margin: 0px 0 0;line-height:1;">
                <span style="display:inline-block;margin-right:4px;border-radius:10px;width:10px;height:10px;background-color:#73c0de;"></span>
                <span style="font-size:14px;color:#666;font-weight:400;margin-left:2px">Video Ads</span>
                <span style="float:right;margin-left:20px;font-size:14px;color:#666;font-weight:900">300</span>
                <div style="clear:both"></div>
              </div>
              <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="row ">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">Total:</p>
                <h5 class="font-weight-bolder mb-0">
                  <span class="text-success text-sm font-weight-bolder">{{ object.test_total }}</span>
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div class="icon icon-shape bg-gradient-info shadow text-center border-radius-md">
                <i class="ni ni-bulb-61 text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Tests passed:</p>
                  <h5 class="font-weight-bolder mb-0">
                    <span class="text-success text-sm font-weight-bolder">{{ object.tests_passed }}</span>
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md">
                  <i class="ni ni-bold-up text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Tests failed:</p>
                  <h5 class="font-weight-bolder mb-0">
                    <span class="text-danger text-sm font-weight-bolder">{{ object.tests_failed }}</span>
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-danger shadow text-center border-radius-md">
                  <i class="ni ni-bold-down text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">Tests skipped:</p>
                  <h5 class="font-weight-bolder mb-0">
                    <span class="text-warning text-sm font-weight-bolder">{{ object.tests_skipped }}</span>
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div class="icon icon-shape bg-gradient-warning shadow text-center border-radius-md">
                  <i class="ni ni-button-pause text-lg opacity-10" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

<div class="row">
    <div class="col-12 mt-4">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>{{ object.name }}</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center justify-content-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Suite name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Execution time</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Passed</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Failed</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Skipped</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                {% for suite in suites %}
                  <tr>
                    <td>
                      <div class="d-flex px-2">
                        <div class="my-auto">
                          <h6 class="mb-0 text-sm">{{ suite.name }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      {% if suite.test_status == "PASS"%}
                      <span class="badge badge-sm bg-gradient-success">{{ suite.test_status }}</span>
                      {% elif suite.test_status == "FAIL"%}
                      <span class="badge badge-sm bg-gradient-danger">{{ suite.test_status }}</span>
                      {% elif suite.test_status == "SKIP"%}
                      <span class="badge badge-sm bg-gradient-warning">{{ suite.test_status }}</span>
                      {% endif%}
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center w-30">
                        <span class="me-2 text-xs font-weight-bold">{{ suite.total_time }} s</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center w-30">
                        <span class="me-2 text-xs font-weight-bold">{{ suite.tests_passed }}</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center w-30">
                        <span class="me-2 text-xs font-weight-bold">{{ suite.tests_failed }}</span>
                      </div>
                    </td>
                    <td class="align-middle text-center">
                      <div class="d-flex align-items-center justify-content-center w-30">
                        <span class="me-2 text-xs font-weight-bold">{{ suite.tests_skipped }}</span>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button class="btn btn-link text-secondary mb-0">
                        <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                      </button>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="row">
    <div class="col-12 mt-4">
        <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>{{ object.name }}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Test name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Execution time</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Error message</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">comments</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tags</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for test in test_list %}
                <tr>
                  <td>
                    <div class="d-flex px-2">
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">{{ test.test_name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    {% if test.test_status == "PASS"%}
                    <span class="badge badge-sm bg-gradient-success">{{ test.test_status }}</span>
                    {% elif test.test_status == "FAIL"%}
                    <span class="badge badge-sm bg-gradient-danger">{{ test.test_status }}</span>
                    {% elif test.test_status == "SKIP"%}
                    <span class="badge badge-sm bg-gradient-warning">{{ test.test_status }}</span>
                    {% endif%}
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center w-30">
                      <span class="me-2 text-xs font-weight-bold">{{ test.execution_time }} s</span>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center w-30">
                        {% if test.error_message %}
                        <span class="me-2 text-xs font-weight-bold">{{ test.error_message }}</span>
                        {% endif %}
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center w-30">
                        {% if test.get_comments %}
                        <span class="me-2 text-xs font-weight-bold">{{ test.get_comments_count }}</span>
                        <li class="nav-item dropdown pe-2 d-flex align-items-center">
                          <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ni ni-chat-round cursor-pointer" aria-hidden="true"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton" data-bs-popper="static">
                            {% for comment in test.get_comments %}
                            <li class="mb-2">
                              <a class="dropdown-item border-radius-md" href="javascript:;">
                                <div class="d-flex py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="text-sm font-weight-normal mb-1">
                                      <span class="font-weight-bold">{{ comment.content }}</span> 
                                     
                                    </h6>
                                    <h5 class="text-xs text-secondary mb-0 ">
                                      from {{ comment.author.username }}
                                    </h5>
                                    <p class="text-xs text-secondary mb-0 ">
                                      <i class="fa fa-clock me-1" aria-hidden="true"></i>
                                      {{ comment.date_posted }}
                                    </p>
                                  </div>
                                </div>
                              </a>
                            </li>
                            {% endfor %}
                            {% if user.is_authenticated %}
                            <li class="mb-2">
                              <a class="dropdown-item border-radius-md" href="{{ test.get_add_comment_url }}">
                                <div class="d-flex py-1">
                                  <div class="d-flex flex-column justify-content-center">
                                    <h6 class="text-xs text-secondary mb-0">
                                      <span class="ni ni-fat-add text-lg opacity-10"></span>                                  
                                    </h6>
                                  </div>
                                </div>
                              </a>
                            </li>
                            {% endif %}
                          </ul>
                        </li>
                        {% else %}
                        <div class="nav-link text-body font-weight-bold px-0">
                        {% if user.is_authenticated %}
                          <a href="{{ test.get_add_comment_url }}"  class="ni ni-fat-add text-lg opacity-10" aria-hidden="true"></a>
                        {% endif %}
                        </div>
                        {% endif %}

                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center justify-content-center w-60">
                    {% if test.get_tag_count > 0  %}
                      {% for tag in test.get_tag_data %}
                      <span class="me-2 text-xs font-weight-bold badge badge-sm bg-gradient-info">{{ tag }}</span>
                      {% endfor %}
                    {% endif %}
                    </div>
                  </td>
                  <td class="align-middle">
                    {% if test.test %}
                    <a class="btn btn-link text-secondary mb-0" href="{{ test.get_test_statistic_url }}">
                      <i href="{{ test.get_test_statistic_url }}" class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var dom = document.getElementById('pieChart');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    option = {
  title: {
    text: 'Execution overview',
    subtext: 'Fake Data',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left'
  },
  series: [
    {
      name: 'Access From',
      type: 'pie',
      radius: '50%',
      data: [
      { value: {{ object.tests_passed }}, name: 'Passed', itemStyle: {color: '#91CC75'} },
      { value: {{ object.tests_skipped }}, name: 'Skipped', itemStyle: {color: '#FAC858'} },
      { value: {{ object.tests_failed }}, name: 'Failed', itemStyle: {color: '#FF8080'} },
      ],
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
  {% endblock %}